<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offBlack</key>
	<string>#2b2222</string>
	<key>primaryRed</key>
	<string>#D65050</string>
	<key>secondaryRed</key>
	<string>#421010</string>
	<key>primaryThemeColor</key>
	<string>#D65050</string>
	<key>secondaryThemeColor</key>
	<string>#421010</string>
	<key>lightGray</key>
	<string>#F6F6F6</string>
	<key>primaryFont</key>
	<string>Avenir-Book</string>
	<key>mediumFont</key>
	<string>Avenir-Medium</string>
	<key>boldFont</key>
	<string>Avenir-Heavy</string>
	<key>blackRed</key>
	<string>#110404</string>
</dict>
</plist>
